body {
	font-family: sans-serif;
	display: flex;
	flex-flow: wrap;
}

article.playing-card {
	position: relative;
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	margin: 2em;
	width: 630pt;
	height: 880pt;
	font-size: 24pt;
	border-radius: 36pt;
	padding: 6pt;
	color: Black;
	/* background: linear-gradient(127deg,#fce3ec,#ffe8cc); */
	background-color: #FBABCE;
	background-image: linear-gradient(62deg, #EBCBAE 0%, #E7DE88 100%);
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px;
}

article.playing-card[data-ability-requirement^=str] {
    background: #403A3E;
    background: linear-gradient(62deg, #BE5869, #403A3E);
    color: Snow;
}

article.playing-card[data-ability-requirement^=dex] {
    background: #76b852;
    background: linear-gradient(62deg, #8DC26F, #76b852);
}

article.playing-card[data-ability-requirement^=con] {
    background: #0F2027;
    background: linear-gradient(62deg, #2C5364, #203A43, #0F2027);
    color: Snow;
}

article.playing-card[data-ability-requirement^=int] {
    background: #667db6;
    background: linear-gradient(62deg, #667db6, #0082c8, #0082c8, #667db6);
}

article.playing-card[data-ability-requirement^=wis] {
    background: #4568DC;
    background: linear-gradient(62deg, #B06AB3, #4568DC);
}

article.playing-card[data-ability-requirement^=cha] {
    background: #CAC531;
    background: linear-gradient(62deg, #F3F9A7, #CAC531);
}

article.playing-card[data-ability-requirement^=any] {
    background: #abbaab;
    background: linear-gradient(62deg, #ffffff, #abbaab);
}

article.playing-card * {
	flex-grow: 0;
}

article.playing-card header {
	position: relative;
}

article.playing-card header[data-type]>h1 {
	font-size: 100%;
	margin: 0;
	display: inline-block;
	flex-grow: 1;
}

article.playing-card header[data-type] {
	border-top-left-radius: 30pt;
	border-top-right-radius: 30pt;
	display: flex;
	flex-direction: row;
	padding-left: 30pt;
	height: 40pt;
	line-height: 40pt;
	font-weight: bold;
	font-size: 110%;
}

aside {
	position: absolute;
	display: block;
	height: 16pt;
	font-variant: small-caps;
	font-size: 50%;
	font-weight: bold;
	line-height: 17pt;
	padding: 0 0.25em;
	width: 15%;
}

article.playing-card>footer {
	position: relative;
	border-bottom-left-radius: 30pt;
	border-bottom-right-radius: 30pt;
	padding-left: 30pt;
	background-color: DarkSlateGray;
	height: 40pt;
	line-height: 40pt;
	color: Snow;
	display: flex;
	flex-direction: row;
}

article.playing-card>footer>aside {
	right: 0;
	top: -8pt;
	background: linear-gradient(0deg,MidnightBlue,Indigo,MidnightBlue);
	text-align: left;
}

article.playing-card[data-ability-requirement]>header:first-child:before {
    width: 2.75em;
	display: inline;
	overflow: hidden;
	text-align: center;
	margin-right: 0.5em;
}

article.playing-card>header[data-type]:after {
	font-variant: small-caps;
	font-size: 75%;
	margin-right: 2em;
	flex-grow: 0;
}

article.playing-card>header[data-type=action] {
	background-color: Silver;
	background-image: linear-gradient(90deg,Silver,Silver,DarkGray);
	color: Black;
}

article.playing-card>header[data-type=attack] {
	background-color: Silver;
	background-image: linear-gradient(90deg,Silver,Silver,DarkGray);
	color: Black;
}

article.playing-card>header[data-type~=action][data-type~=weapon] {
	background-image: linear-gradient(90deg,Silver,Silver,Orchid,Orchid);
	color: Black;
}

article.playing-card>header[data-type=ability] {
	background-color: PeachPuff;
	background-image: linear-gradient(90deg,PeachPuff,PeachPuff,Moccasin);
	color: Black;
}

article.playing-card>header[data-type=orison] {
	background-color: MediumTurquoise;
	background-image: linear-gradient(90deg,MediumTurquoise,MediumTurquoise,Silver);
	color: Black;
}

article.playing-card>header[data-type=cantrip] {
	background-color: CornflowerBlue;
	background-image: linear-gradient(90deg,CornflowerBlue,CornflowerBlue,Silver);
	color: Black;
}

article.playing-card>header[data-type=spell] {
	background-color: DodgerBlue;
	background-image: linear-gradient(90deg,DodgerBlue,DodgerBlue,RoyalBlue);
	color: Black;
}

article.playing-card>header[data-type=class] {
	background-color: Crimson;
	background-image: linear-gradient(90deg,Crimson,Crimson,Firebrick);
	color: Snow;
}

article.playing-card>header[data-type=defence] {
	background-color: MediumSpringGreen;
	background-image: linear-gradient(90deg,MediumSpringGreen,MediumSpringGreen,SpringGreen);
	color: Black;
}

article.playing-card>header[data-type=weapon] {
	background-color: Orchid;
	background-image: linear-gradient(90deg,Orchid,Orchid,MediumOrchid);
	color: Black;
}

article.playing-card>header[data-type=ammunition] {
	background-color: DarkOrange;
	background-image: linear-gradient(90deg,DarkOrange,DarkOrange,Coral);
	color: Black;
}

article.playing-card>header[data-type=item] {
	background-color: Plum;
	background-image: linear-gradient(Plum,Plum,Orchid);
	color: Black;
}

article.playing-card>header[data-type=action]:after {
	content: 'Action';
}

article.playing-card>header[data-type=attack]:after {
	content: 'Attack';
}

article.playing-card>header[data-type=ability]:after {
	content: 'Ability';
}

article.playing-card>header[data-type=class]:after {
	content: 'Class';
}

article.playing-card>header[data-type=defence]:after {
	content: 'Defence';
}

article.playing-card>header[data-type=orison]:after {
	content: 'Orison';
}

article.playing-card>header[data-type=cantrip]:after {
	content: 'Cantrip';
}

article.playing-card>header[data-type=spell]:after {
	content: 'Spell';
}

article.playing-card>header[data-type=weapon]:after {
	content: 'Weapon';
}

article.playing-card>header[data-type=ammunition]:after {
	content: 'Ammunition';
}

article.playing-card>header[data-type=item]:after {
	content: 'Item';
}

article.playing-card[data-ability-requirement=str-minor]>header:first-child:before {
    content: '💪';
}

article.playing-card[data-ability-requirement=dex-minor]>header:first-child:before {
    content: '🎯';
}

article.playing-card[data-ability-requirement=con-minor]>header:first-child:before {
    content: '💗';
}

article.playing-card[data-ability-requirement=wis-minor]>header:first-child:before {
    content: '🦉';
}

article.playing-card[data-ability-requirement=int-minor]>header:first-child:before {
    content: '🎓';
}

article.playing-card[data-ability-requirement=cha-minor]>header:first-child:before {
    content: '🎭';
}
article.playing-card[data-ability-requirement=str-major]>header:first-child:before {
    content: '💪💪';
}

article.playing-card[data-ability-requirement=dex-major]>header:first-child:before {
    content: '🎯🎯';
}

article.playing-card[data-ability-requirement=con-major]>header:first-child:before {
    content: '💗💗';
}

article.playing-card[data-ability-requirement=wis-major]>header:first-child:before {
    content: '🦉🦉';
}

article.playing-card[data-ability-requirement=int-major]>header:first-child:before {
    content: '🎓🎓';
}

article.playing-card[data-ability-requirement=cha-major]>header:first-child:before {
    content: '🎭🎭';
}

article.playing-card[data-ability-requirement=any]>header:first-child:before {
    content: '🟋';
}

article.playing-card>header>aside.action-type {
	left: 0;
	bottom: -8pt;
	background: linear-gradient(0deg,Goldenrod,Gold,PaleGoldenrod,Goldenrod);
	text-align: right;
}

article.playing-card>header>aside.spell-duration {
	right: 0;
	bottom: -8pt;
	background: linear-gradient(0deg,MidnightBlue,RoyalBlue,SlateBlue,DodgerBlue);
	text-align: left;
	color: white;
}

article.playing-card>figure {
	display: block;
	max-height: 360pt;
	padding: 0;
	margin: 0;
}

article.playing-card>figure>img {
	display: block;
	height: 330pt;
	padding: 0;
	margin: 0;

}

article.playing-card>figure>figcaption {
	display: block;
	height: 30pt;
	padding: 0;
	margin: 0;
}

article.playing-card>figure>figcaption>h2 {
	font-size: 70%;
	line-height: 2;
	padding: 0 26pt;
	margin: 0;
	font-weight: 100;
	display: block;
	background-color: rgb(255, 255, 0, 0.2);
	border-bottom-left-radius: 30pt;
	border-bottom-right-radius: 30pt;
}

article.playing-card>figure>figcaption>h2:before {
	content: 'Type: ';
	font-weight: bold;
}

article.playing-card>section {
	background-color: transparent;
	/* padding: 0 26pt 6pt; */
	display: flex;
	flex-direction: column;
	line-height: 40pt;
	flex-grow: 1;
	/* margin: 0 26pt 6pt; */
}


/*
section.type-subtype> {
	display: flex;
	flex-direction: row;
}

section.type-subtype>h2 {
	display: inline-block;
	font-size: 100%;
	margin: 0;
	font-weight: 100;
}
*/

article.playing-card>section>hr.or {
	border-width: 0.5pt;
	border-color: DarkSlateGray;
	width: 100%
}

article.playing-card>section>section.stat-with-value:first-of-type {
	border-top-left-radius: 36pt;
	border-top-right-radius: 36pt;
}

article.playing-card>section>section.stat-with-value:last-of-type {
	border-bottom-left-radius: 36pt;
	border-bottom-right-radius: 36pt;
}

article.playing-card>section>section.stat-with-value {
	display: flex;
	flex-direction: row;
	height: 60pt;
	line-height: 60pt;
	background: rgba(255, 255, 255, 0.1);
	background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.1), rgba(128, 128, 128, 0.1));
	padding: 0 26pt;
}

article.playing-card>section>section.stat-with-value>label {
	display: inline-block;
	flex-grow: 1;
}

article.playing-card>section>section.stat-with-value>value {
	display: inline-block;
	flex-grow: 0;
	font-weight: bold;
}

article.playing-card>section p {
	margin: 0.5em 0;
	padding: 0 26pt;
	flex-grow: 1;
}

article.playing-card>section p.flavour {
	font-style: italic;
}

article.playing-card>section>section.stat-with-value>value>small:before {
	content: ' [';
}

article.playing-card>section>section.stat-with-value>value>small:after {
	content: ']';
}

blockquote:before {
	content: '\201c';
}

blockquote:after {
	content: '\201d';
}